
.about--pdf-container{ 
    margin-top: 6%;
    margin-left: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about--pdf-page{
    -webkit-box-shadow: 2px 2px 4px 6px rgba(0, 0, 0, 0.4);  
    -moz-box-shadow:    2px 2px 4px 6px rgba(0, 0, 0, 0.4);
    box-shadow:  7px 6px 10px 3px rgba(0, 0, 0, 0.4);
    border-radius: 25px;
    height: 80%;
    overflow: hidden;
    background-color: white;
}

.about__main--container{
    background-color: #123456;
    position: relative;
}

.about__content-container{
    display: flex;
    height: fit-content;
    max-width: 100vw;
}

.about--download-button{
    text-decoration: none;
    color:black;
    border: solid black 1px;
    border-radius: 5px;
    padding: 10px;
    font-family: 'Source Code Pro', monospace;
    font-size: calc(16px + 0.5vw);
    margin-top: 20px;
    font-weight: 900;
    background-color: white;
}

.about--info-container{
    -webkit-box-shadow: 2px 2px 4px 6px rgba(0, 0, 0, 0.4);  
    -moz-box-shadow:    2px 2px 4px 6px rgba(0, 0, 0, 0.4);
    box-shadow:  7px 6px 10px 3px rgba(0, 0, 0, 0.4);
    border-radius: 25px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    background-color: white;

}

.about--info-header{
    font-family: 'Source Code Pro', monospace;
    font-size: calc(16px + 1vw);
    font-weight: 900;
    width: 100%;
    margin-top: 50px;
    text-align: center;
}

.about--info-text{
    font-family: 'Source Code Pro', monospace;
    font-size: calc(10px + 0.7vw);
    margin:10%;
}

.about--info-text-link{
    text-decoration: none;
    color: black;
    font-family: 'Source Code Pro', monospace;
    font-size: calc(16px + 0.5vw);
    font-weight: 900;
}


@media  screen and (max-width:1400px) {

    .about__content-container{
        display: flex;
        flex-direction: column;
        height: fit-content;
        max-width: 100vw;
    }

    .about--pdf-container{ 
        margin-right: 5vw;
    }

    .about--info-container{
        width: 90%;
        margin-bottom: 10%;
    }
    .about--pdf-page{
        height: 80%;
        overflow: hidden;
        display: flex;
        max-width: 90vw;
    }
    .about--info-text{
        font-size: calc(12px + 0.7vw);
    }
}
