.NavBar2--container{
    width: 100%;
    height: fit-content;
    background-color: #123456;
    min-height: 20vh;
    height: fit-content;
}

.NavBar2--content-container{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    align-content: center;
    min-height: 20vh;
    height: fit-content;
}

.NavBar2__link{
    text-decoration:none;
    color: whitesmoke;
    transform: scale(1);
    transition: all 0.3s ease-in-out;
}


.NavBar2__link:hover{
    text-decoration:none;
    color: whitesmoke;
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
}


.NavBar2--content{
    font-weight: 900;
    font-family: 'Source Code Pro', monospace;
    font-size: calc(12px + 1.5vw);
    width: fit-content;
    text-decoration:none;
    color: whitesmoke;
}

@media screen and (max-width: 1024px){

    .NavBar2--container{
        width: 100%;
        height: fit-content;
        background-color: #123456;
        min-height: 15vh;
        height: fit-content;
    }

    
    .NavBar2--content-container{
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        align-items: center;
        align-content: center;
        min-height: 15vh;
        height: fit-content;
    }

    
}