.navbar--main-container{
    display: flex;
    justify-content: flex-end;
    width: calc(150px + 15vw);
    height: 100%;
    background: black;
    opacity: 0.8;
    position: fixed;
    transition: all 0.6s ease-in-out;
}

.navbar--button-display{
    width: 50px;
    height: 50px;
    margin-right: -50px;
    position: absolute;
    z-index: 10;
    background: none;
    border: none;
    font-family: 'Source Code Pro', monospace;
    font-size: calc(30px + 1vw);
}

.navbar--animated-button{
    transition: all 0.6s ease-in-out;
}

.show{
    transform: translateX(0vw);
    transition: all 0.6s ease-in-out;
}

.hide{
    transform: translateX(calc(-150px - 15vw));
    transition: all 0.6s ease-in-out;
}

.navbar--content-container{
    display: flex;
    width: 100%;
    justify-self: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.navbar--content{
    color: whitesmoke;
    font-weight: 900;
    font-family: 'Source Code Pro', monospace;
    font-size: calc(15px + 1vw);
    margin-left: 10%;
}


.animated__cross-bar-one{
    width: 40px;
    height: 8px;
    background: black;
    border: solid whitesmoke 2px;
    border-radius: 20px;
    margin-bottom: 4px;
    margin-top: 4px;
    transition: all 0.6s ease-in-out;
}

.crosszero{
    transition: transform 0.6s ease-out;
}

.crossone{
    transform: rotate(45deg) translateY(5px) translateX(5px);
}

.crosstwo{
    transform: rotate(-45deg) translateY(-5px) translateX(5px);
}